{% extends 'base.html' %}
{% block title %}{{ task.description }}{% endblock %}
{% block nav %}
    {% if not user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">Вход</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'To_Do_list:add_task_view' %}">Новая задача</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'To_Do_list:task_update_view' task.pk %}">Редактировать</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               href="{% url 'To_Do_list:task_delete_view' task.pk %}">Удалить</a>
        </li>
        <li>
            <a class="nav-link" href="{% url 'accounts:logout' %}">Выход</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <br>
    <div class="card border-info mb-3" style="max-width: 25rem;">
        <div class="card-header bg-transparent border-info">Статус: {{ task.status }}<br>Тип:
            {% for type in task.type.all %}{{ type.type }}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
        <div class="card-body ">
            <h5 class="card-title">Заголовок: {{ task.summary }}</h5>
            <p class="card-text">Подробное описание: {{ task.description }}</p>
        </div>
        <div class="card-footer bg-transparent border-info">
            <a href="{% url "To_Do_list:project_view" task.project_id %}" class="btn btn" style="float: right">Назад</a>
        </div>
    </div>
{% endblock %}