{% extends 'base.html' %}
{% block title %}Удаление проекта{% endblock %}
{% block nav %} {% endblock %}
{% block content %}
        <div>
        <form method="POST">
        {% csrf_token %}
            <div class="card text-center" style="max-width: 25rem;">
              <div class="card-header">
                  </div>
              <div class="card-body">
                <h5 class="card-title">Удаление проекта!</h5>
                <p class="card-text">Введите название проекта!!! {{ project.title }}</p>
                <div class="gap-2 col-6" style="float: right">
                    {% include 'partial/form.html' with button_text="Удалить" %}
                    <a href="{% url 'To_Do_list:project_view' project.pk %}"><button class="btn btn-primary" type="button">Нет</button></a>
                </div>
              </div>
              <div class="card-footer">
                </div>
            </div>
        </form>
    </div>
{% endblock %}