{% extends 'base.html' %}
{% block nav %}
    {% if not user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'To_Do_list:project_update_view' project.pk %}">Редактировать
                проект</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">Вход</a>
        </li>
    {% else %}
        {% if perms.To_Do_list.add_projectuser %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                   href="{% url 'To_Do_list:participant_add' project.pk %}">Добавить Участника</a>
            </li>
        {% endif %}
        {% if perms.To_Do_list.change_project%}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                   href="{% url 'To_Do_list:project_update_view' project.pk %}">Редактировать
                    проект</a>
            </li>
        {% endif %}
        {% if perms.To_Do_list.delete_project %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                   href="{% url 'To_Do_list:project_delete_view' project.pk %}">Удалить
                    проект</a>
            </li>
        {% endif %}
        {% if perms.To_Do_list.add_task %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                   href="{% url 'To_Do_list:task_project_view' project.id %}">Создание
                    задачи</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}?next={{ request.get_full_path }}">Выход</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <br>
    <div class="card border-info mb-3" style="max-width: 25rem;">
        <div class="card-header bg-transparent border-info">Дата начала: {{ project.date_begin }}<br>Дата окончания:
            {{ project.date_end }}
        </div>
        <div class="card-body ">
            <h5 class="card-title">Название: {{ project.title }}</h5>
            <p class="card-text">Описание: {{ project.description }}</p>
        </div>
        <div class="card-footer bg-transparent border-info">
            <a href="{% url "To_Do_list:projects_view" %}" class="btn btn" style="float: right">Назад</a></div>
    </div>
    <h1>Список участников!</h1>
    {% for p in project.projectusers.all %}
        <br>
        <div class="card" style="max-width: 400px;">
            <div class="card-body">
                <h5 class="card-title">Имя: {% firstof p.user.first_name p.user.last_name p.user.username %}</h5>
                <p class="card-text">Должность: {{ p.get_role_display }}</p>
                {% if perms.To_Do_list.delete_projectuser %}
                    <form action="{% url 'To_Do_list:participant_remove' project.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ p.user.pk }}">
                        <button type="submit" class="btn-danger">Удалить</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <h1>Список задач!</h1>
    {% for task in project.tasks.all %}
        <br>
        <div class="card" style="max-width: 400px;">
            <div class="card-header">
                Статус: {{ task.status }}
            </div>
            <div class="card-body">
                <h5 class="card-title">Заголовок: {{ task.summary }}</h5>
                <a href="{% url "To_Do_list:one_task_view" task.pk %}" class="btn btn" style="float: right">
                    Детальный просмотр...</a>
            </div>
        </div>
    {% endfor %}




{% endblock %}