{% extends 'base.html' %}
{% block title %}{{ task.description }}{% endblock %}
{% block nav %}
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'add_task_view' %}">Новая задача</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'task_update_view' task.pk%}">Редактировать</a>
    </li>
    <li class="nav-item">
       <a class="nav-link active" aria-current="page" href="{% url 'task_delete_view' task.pk%}">Удалить</a>
    </li>
{% endblock %}
{% block content %}
    <h2>Статус: {{ task.get_status_display }}</h2>
    <h2>Описание: {{ task.description }}</h2>
    <p> Подробное описание:{{ task.detailed_description }}</p>
    <p>Дата создания: {{ task.created_at }}</p>
    <p>Дата завершения: {{ task.to_do_at }}</p>
    <p><a href="{% url "view_tasks_view" %}">Назад</a></p>
{% endblock %}