<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Список задач!</h1>
    {% for task in tasks %}
        <hr>
        <h2>Статус: {{ task.get_status_display }}</h2>
        <h2>Описание: {{ task.description }}</h2>
        <p><a href="/task/{{ task.pk }}/">Детальный просмотр...</a></p>
        <hr>
    {% endfor %}
    <p><a href="/">На главную</a></p>
</body>
</html>