{% extends 'base.html' %}
{% block title %}Редактирование задачи{% endblock %}
{% block nav %}
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url "one_task_view" task.pk %}">Вернуться к задаче</a>
    </li>
{% endblock %}
{% block content %}
    <h1>Update Task</h1>
    <form action="{% url "add_task_view" %}" method="post">
        {% csrf_token %}

        <label>Status:</label><br/>
        <select name="status">
            {% for choice in status %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select><br/>

        <label>Description:</label><br/>
        <textarea name="description">{{ task.description }}</textarea><br/>

        <label>Detailed description:</label><br/>
        <textarea name="detailed_description">{{ task.detailed_description }}</textarea><br/>

        <label>Time to Do:</label><br/>
        <input name="to_do_at" value="{{ task.to_do_at }}"/><br/>
        <br/>
        <input type="submit" value="Update"/>
    </form>

{% endblock %}